html, body {
  margin: 0;
  height: 100%;
  background-color: #000000;
  font-family: 'JetBrains Mono', monospace;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  }

/* Each pane */
.pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #111;
}

.pane:last-child {border-right: none}

/* Blue top bar */
.pane-header {
  background-color: #005f87;   /* i3-like blue */
  color: #ffffff;
  padding: 8px 12px;
  font-size: 1.0rem;
}

/* Content area */
.pane-content {
  display: flex;
  flex: 1;
  background-color: #000000;
  color: #e0e0e0;
  padding: 8px;
}

.editor {
  flex: 1;
  background-color: #000000;
  padding: 10px;
  color: #e0e0e0;
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
}

.preview-box {
  flex: 1;
  background-color: #000000;
  font-size: 18px;
}

#editor {

}

#preview {
  white-space: pre-wrap;
}

#preview p,
#preview ul,
#preview h1,
#preview h2,
#preview h3,
#preview h4 {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
